.ImageControls {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: right;
    padding-right: 5%;
}

.ImageControls > div {
    display: flex;
    margin: 5px 5px 5px 5px;
}

.ImageControls label {
    margin: 2% 2% 2% 2%;
    padding: 0.5%;
    font-size: x-large;
}

.ImageControls input {
    border-radius: 30%;
    margin-top: 5.5px;
    padding: 0.5%;
    font-size: large;
}